<?xml version="1.0" encoding="UTF-8"?>
<!--
see org.springframework.boot.context.logging.LoggingApplicationListener
see org.springframework.boot.logging.logback.DefaultLogbackConfiguration
Copy of https://github.com/spring-projects/spring-boot/blob/v2.4.3/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback/base.xml
-->
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="logback-spring-json-file-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>