<?xml version="1.0" encoding="UTF-8"?>
<!--
See https://github.com/elastic/ecs-logging-java/tree/master/logback-ecs-encoder#example-logbackxml-for-spring-boot-applications
-->
<configuration debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <!--
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    -->
    <include resource="logback-spring-ecs-file-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOG_FILE" />
    </root>
</configuration>