---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    app.kubernetes.io/name: frontend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: frontend
  template:
    metadata:
      annotations:
        resource.opentelemetry.io/service.name: frontend
        resource.opentelemetry.io/service.namespace: ecommerce
        resource.opentelemetry.io/service.version: "1.1"
        instrumentation.opentelemetry.io/inject-java: "true"
      labels:
        app.kubernetes.io/name: frontend
    spec:
      containers:
        - name: frontend
          env:
            - name: PYROSCOPE_APPLICATION_NAME
              value: "frontend"
            - name: CHECKOUTSERVICE_GRPCENDPOINT
              value: "checkout:50051"
            - name: FRAUDDETECTIONSERVICE_BASEURL
              value: "http://fraud-detection:8080"
            - name: UNINSTRUMENTEDSERVICE_URL
              value: "http://example.com"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "ecommerce"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres:5432/ecommerce"
            - name: SPRING_DATASOURCE_USERNAME
              value: "ecommerce"
            - name: SPRING_DATA_REDIS_HOST
              value: "redis"
            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: "update"
            - name: SPRING_RABBITMQ_HOST
              value: "rabbitmq"
            #- name: CONSOLE_LOG_THRESHOLD
              # TODO define this env var in the otel sdk injection layer
              # The alternative of having a pod annotation to tell the filelog receive to NOT scrape this stream
              # is NOT good because we would miss some logs. Note that K8s events like OOM Killer ar NOT logged
              # in the container logs, but in the K8s events and in the K8s node logs.
            #  value: "OFF"
          image: docker.io/cleclerc/webshop-frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
      restartPolicy: Always
